<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mejores Animes</title>
</head>
<body>
    <h1>Top 3 Mejores Animes</h1>

    <table>
        <tr>
            <th>Título del Anime</th>
            <th>Puntuación Media</th>
        </tr>
        {% for anime in animes_top %}
        <tr>
            <td>{{ anime.anime__name }}</td>
            <td>{{ anime.puntuacion_media|floatformat:2 }}</td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="2">No hay datos disponibles.</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>